@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Morganite';
  src: url('./assets/Morganite-Black.ttf');
}
/* @font-face{
  font-family: 'Morganite';
  src: url('./assets/Morganite-Bold.ttf');
}
@font-face{
  font-family: 'Morganite';
  src: url('./assets/Morganite-Book.ttf');
}
@font-face{
  font-family: 'Morganite';
  src: url('./assets/Morganite-Light.ttf');
}
@font-face{
  font-family: 'Morganite';
  src: url('./assets/Morganite-Medium.ttf');
} */


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.customHTML h3{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
}

@-webkit-keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position: fixed;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -17px;
}


.spinner:after , .spinner:before {
  content: "";
  position: fixed;
  border: 2px solid black;
  width: 30px;
  height: 30px;
}

.spinner:after {
  -webkit-animation: spinner 2.5s linear infinite;
          animation: spinner 2.5s linear infinite;
}
.spinner:before {
  width: 44px;
  height: 44px;
  margin-left: -7px;
  margin-top: -7px;
  -webkit-animation: spinner 2.5s linear infinite;
          animation: spinner 2.5s linear infinite;
  animation-direction: reverse;
}